FSHKOP0210.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<xs:schema xmlns:tns="http://FSHKOP0210.webservice.estore.kln.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://FSHKOP0210.webservice.estore.kln.com">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="FSHKOP0210_Con" nillable="true" type="tns:FSHKOP0010_Con"/>

<xs:element name="FSHKOP0210_Con_response" nillable="true" type="tns:FSHKOP0090_Con_response"/>

<xs:complexType name="FSHKOP0010_Con">
<xs:sequence>
<xs:element name="Header" type="tns:WSReqHeaderVO"/>
<xs:element name="Body">
<xs:complexType>
<xs:sequence>
<xs:element name="MASTER_IN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="MEMBER_NO" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSReqHeaderVO">
<xs:sequence>
<xs:element name="zInterfaceId" type="xs:string"/>
<xs:element name="zConSysId" type="xs:string"/>
<xs:element name="zProSysId" type="xs:string"/>
<xs:element name="zUserId" type="xs:string"/>
<xs:element name="zPiUser" type="xs:string"/>
<xs:element name="zTimeId" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FSHKOP0090_Con_response">
<xs:sequence>
<xs:element name="Header" type="tns:WSResHeaderVO"/>
<xs:element name="Body">
<xs:complexType>
<xs:sequence>
<xs:element name="MASTER_OUT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ITEM_ID" type="xs:string"/>
<xs:element name="ITEM_NAME" type="xs:string"/>
<xs:element name="UNIT_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="ITEM_WISH_PRICE" type="xs:string" minOccurs="0"/>
<xs:element name="SALE_PRICE" type="xs:string" minOccurs="0"/>
<xs:element name="SITE_ID" type="xs:string" minOccurs="0"/>
<xs:element name="IMG_300" type="xs:string" minOccurs="0"/>
<xs:element name="IMG_550" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RESULT_CODE" type="xs:string"/>
<xs:element name="RESULT_MSG" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSResHeaderVO">
<xs:sequence>
<xs:element name="zResultCd" type="xs:string"/>
<xs:element name="zResultMsg" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>